*.aps
*.opendb
*.opensdf
*.sdf
*.suo
*.tss
*.user
*.vspx
*.bak
/.vs
/_bin
/environments.bat
/revision.h
/contrib/signinfo.txt
/src/ExtLib/ffmpeg/obj
/src/apps/MPCBEShellExt/dlldata.c
/src/apps/MPCBEShellExt/MPCBEShellExt_i.c
/src/apps/MPCBEShellExt/MPCBEShellExt_i.h
/src/apps/MPCBEShellExt/MPCBEShellExt_p.c
/src/apps/mplayerc/res/mpc-be.exe.manifest
/lib/libgcc.a
/lib/libmingwex.a
/lib64/libgcc.a
/lib64/libmingwex.a
