[submodule "src/ExtLib/nanosvg"]
	path = src/ExtLib/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "src/ExtLib/BaseClasses"]
	path = src/ExtLib/BaseClasses
	url = https://github.com/v0lt/BaseClasses.git
[submodule "src/ExtLib/Detours"]
	path = src/ExtLib/Detours
	url = https://github.com/microsoft/Detours.git
